/* Apply style to all page*/
html , body{
    /* delete the margin in html and body tag*/
    margin: 0px auto;
    height: 100%;
    width: 100%;
}

/* This Div is ALL in the content*/
#container {
    /* add this border to the container */
    height: 100%;
    width: 100%;
    float: left;
    border-left: 15px solid #070747;
    border-right: 15px solid #070747;
    border-top: 5px solid #070747;
    border-bottom: 5px solid #070747;
    box-sizing: border-box;
}

#form-advanced-filter {
    margin: 0px auto;
    width: 100%;
    height: 100%;
    float: left;
}
.row {
    /*class for the grid elements*/
    margin: 0% auto;
    height: 100%;
    width: 100%;
    float: left;
}


.header{
    width: 100%;
    /* The size in the window will be relative*/
    height: 50px;
    float: left;
}

/*
-------- Tabs ---------
*/


.tabs {
    /* style for the tabs*/
    height: 100%;
    width: 20%;
    float: left;
    /*A font family for the tab labels*/
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    /* display tabs label in 2 rows */
    /*
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 20px;
    max-height:100%;
    */
    /* border in the tabs */
    /*
    box-sizing: border-box;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
    border-top: 1px solid #777777;
    border-bottom: 1px solid #777777;
    box-sizing: border-box;
    */
}

/* fix 2 rows*/
.tabs p {
    font-size: 15px;
    font-weight: bold;
    color: #242424;
}

.tabs.unselected {
    /* Font for being not selected*/
    background-color: #c3fac1;
    
}

.tabs.selected {
    /* Font for being selected*/
    background-color: #84da81;

}

.tabs:hover {
    /*add an event for the on hover*/
    background-color: #9af097;
    /* change the cursor to the pointer on the event */
    cursor: pointer;
}

/* ------ Filter -----------*/

.container-sector {
    /* Main Content of the Advanced Filter */
    /**/
    margin: 0% auto;
    width: 100%;
    /* Measure the size of this window */
    /*This size is relative*/
    height: 500px;
    float: left;
    padding: 30px;
    box-sizing: border-box;
}

/*------ STYLE FOR TEXT IN THE FILTER -------*/


/*Added a line in the middle height*/
.container-sector p {
    width: 100%; 
    text-align: left; 
    border-bottom: 1px solid #797979; 
    line-height: 1px;
    color: #242424;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.container-sector p span {
    background:#ffffff; 
    padding:0 10px; 
}

/*------SEARCH IN THE TEXTBOX------*/
.container-search-tool {
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 0 2px 0 15px;
    box-sizing: border-box;
    /*choose one column for the textbox and the suggestions*/
    display: grid;
    grid-template-columns: 1fr;
}
.search-textbox {
    /* This specified width is for patching to reduce it */
    width: 1fr;
    /* style for the text typed*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

/* The suggestion div*/
.container-autocomplete {
    height: auto;
    width: 97%;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 23px;
    margin-left: 15px;
    box-sizing: border-box;
    /* the div will float over the content with greater priority*/
    z-index: 5;
    /*a bug for the missing top border for the first suggest*/
    /*border-top: 1px solid #7b7b7b;*/
    /*border-radius: 2px;*/
}

/* Suggestion element*/
.autocomplete {
    width: 100%;
    height: 20px;
    padding-left: 5px;
    box-sizing: border-box;
    border-left: 1px solid #7b7b7b;
    border-right: 1px solid #7b7b7b;
    border-top: 0;
    border-bottom: 1px solid #7b7b7b;
    border-radius: 2px;
    background-color: #ffffff;
    /* Font of the suggestions */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size : 12px;
    /* the div will float over the content with the greates priority*/
    z-index: 9;
}

.autocomplete:hover {
    width: 100%;
    height: 20px;
    padding-left: 5px;
    box-sizing: border-box;
    border-left: 1px solid #7b7b7b;
    border-right: 1px solid #7b7b7b;
    border-top: 0;
    border-bottom: 1px solid #7b7b7b;
    border-radius: 2px;
    background-color: #7b7b7b;
    color: #000000;
    cursor: pointer;
}


/* This part is going to be responsive*/
/*---------for mobiles ------*/
@media (max-width: 630px) {
    /* width <= 630*/
    /* Display list in 1 column */
	.container-filter-list {
		height: 100%;
		width: 100%;
		float: left;
		padding: 0 20px;
		box-sizing: border-box;
		display: grid;
        grid-template-columns: 1fr;
        /* Add a scrollbar if the div overflows*/
        overflow-x: auto;
        overflow-y: auto;
	}
}
/* width >= 630 && width <= 900*/
@media (min-width: 631px) and (max-width: 900px) {
    /* Display list in 2 columns */
	.container-filter-list {
		height: 100%;
		width: 100%;
		float: left;
		padding: 0 20px;
		box-sizing: border-box;
		/*-----------------------------------------*/
		/*
			The grid
			-------------------------
			|           |           |
			|           |           |
			|           |           |
			|           |           |
			|           |           |
			|           |           |
			|           |           |
			|           |           |
			-------------------------

			2 x 8
		*/
		/*-----------------------------------------*/
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(8, 1fr);
		grid-auto-flow: column;
	}
}


/*---------for desktop ---------*/
/* width >= 900 */
@media (min-width: 901px) {
    /* Display list in 3 columns */
	.container-filter-list {
		height: 100%;
		width: 100%;
		float: left;
		padding: 0 20px;
		box-sizing: border-box;
		/*-----------------------------------------*/
		/*
			The grid
			-------------------------
			|       |       |       |
			|       |       |       |
			|       |       |       |
			|       |       |       |
			|       |       |       |
			|       |       |       |
			-------------------------

			3 x 6
		*/
		/*-----------------------------------------*/
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(6, 1fr);
		grid-auto-flow: column;
	}
}

.filter-list-element {
    height: 100%;
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
}



.list-checkbox {
    height: 100%;
    width: 20px;
    float: left;
}

.list-label {
    height: 100%;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}


/* Displaying the buttons */

.footer {
    width: 100%;
    /*This size is not relative*/
    height: 40px;
    float: left;;
    box-sizing: border-box;
}

/* Display the buttons at the right */

.right-button {
    height: 100%;
    width: 40%;
    float: left;
    padding-left: 60%;

}

/* Container for the buttons */
.container-btn {
    height: 100%;
    width: 33%;
    float: left;
    padding: 0 0 0 2%;
    box-sizing: border-box;
}

/* general button style */
[class*="btn-"] {
    height: 90%;
    width: 100%;
    padding: 5% 0;
}


/* APPLY BUTTON */
.btn-apply {
    border: none;
    background-color: #4CAF50;
    color: #ffffff;
    border-radius: 5px;
}

/* CLEAR BUTTON */
.btn-clear {
    background-color: #ffffff;
    color: #4CAF50;
    border-radius: 5px;
    border: 2px solid #4CAF50;
}

/* CANCEL BUTTON */
.btn-cancel {
    border: none;
    background-color: #ffffff;
    color: #4CAF50;
    border-radius: 5px;
}


/* Output for the user */


.output-industries-tags-label {
    padding-left: 50px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}


.output-industries-list-label {
    height: 100%;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}