<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Template from the Official Vue Documentation-->
    <meta charset="UTF-8" />
    <title>Advanced filter</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./css/styles.css">
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="container">
        <!-- Form for submitting the info -->
        <form id="form-advanced-filter" autocomplete="off" action="" method="GET">
          <!-- Sector tabs -->
          <div class="header">
            <div class="row">
              <!-- Added some dinamyc array for the tabs-->
              <!-- And added an event for each tab which display de filter -->
              <div
              v-for="tab in tabs"
              class="tabs"
              :key="tab.id"
              ref="barraMenu"
              v-on:click="tabSelect(tab.id)"
              :class="{'selected': tabSelected == tab.id, 'unselected': tabSelected != tab.id}"
            >
              <p>{{ tab.label }}</p>
            </div>
            </div>
          </div>
        <div class="container-sector">
          <!-- directive for hiding these container if sector tab is selected-->
          <div v-show="sectorSelected">
            <div class="row">
                <p><span>{{ search_label }}</span></p>
            </div>
            <div class="row">
              <div class="container-search-tool">
                <!-- Div with the autocomplete form  -->
                <input
                  type="text"
                  class="search-textbox"
                  v-model="textTyped"
                  @keyup="tagFound = false"
                />
                <!-- Div with the autocomplete list  -->
                <div
                  class="container-autocomplete"
                  v-show="textTyped.length > 0 && !tagFound"
                >
                  <div
                    class="autocomplete"
                    v-for="tag in tags"
                    v-show="textTyped.length > 0 && (tag.label.toLowerCase()).includes(textTyped.toLowerCase())"
                    @click="matchFound(tag.label)"
                  >
                  {{ tag.label }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
                <p><span>{{ checkbox_label }}</span></p>
            </div>
            <div class="row">
              <div class="container-filter-list">
                <!-- This element fits in the grid with responsive media -->
                <div
                  class="filter-list-element"
                  v-for="industry in industries"
                >
                  <div class="list-checkbox">
                    <input
                      type="checkbox"
                      :key="industry.id"
                      v-on:change="checkboxSelect(industry.id)"
                    />
                  </div>
                  <div class="list-label">
                    {{ industry.label }} 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <!-- This height size is not relative-->
        <div class="footer">
          <div class="row">
            <!-- The buttons are floating in a div with left padding -->
            <div class="right-button">
              <div class="container-btn">
                <input type="button" class="btn-apply" value="APPLY" @click="btnApplySubmited"/>
              </div>
              <div class="container-btn">
                <input type="button" class="btn-clear" value="CLEAR"/>
              </div>
              <div class="container-btn">
                <input type="button" class="btn-cancel" value="CANCEL"/>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- Import App -->
    <script src="./js/main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = advancedFilter.mount('#container')
    </script>
  </body>
</html>
